*{
    font-family: IRANSans !important;  
}
div{
    background-color: white;
}
body{
    background: #EEEEEE;
}
#container{
    height: 1283px;
    width: 360px;
    background: #EEEEEE;
    margin: auto;  
}
#header{
    width: 100%;
    height: 101px;
    background-color: white; 
}
#up-down{
    height: 50%;
    width: 100%;
    display: flex;
}
#up-down1{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-l{
    height: 100%;
    width: 50%;
    display: flex;  
}
#logo-r{
    height: 100%;
    width: 50%;
    display: flex;
}
body{
    direction: rtl;
}
#basalam-logo{
    width: 95.79px;
    height: 24px;
    margin-right: 16px;
    margin-top: 12px;
}
#left-logo{
    width: 32px;
    height: 32px;
    margin-top: 11px;
    margin-right: 8px;
}
#left-logo-svg{
    margin-top: 12px;
    
}
#basalam-shop{
    background: #3E3E3E;
    height: 32px;
    width: 103px;
    margin-top: 8px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 32px;
}
#basalam-shop a{
    color: #FAFAFA;
    text-decoration: none;
    font-size: 12px;
}
#basalam-shop-2{
    height: 19px;
    width: 76px;
}
#shop-icon{
    height: 32px;
    width: 32px;
    margin-top: 8px;
    display: flex;
}
#search-box{
    height: 40px;
    width: 328px;
    border-radius: 100px;
    border: 1px solid #9D9D9D;
    box-sizing: border-box;
    display: flex;
}
input{
    height: 19px;
    width: 250px;
    margin-right: 16px;
    margin-top: 6px;
    border: none;
    outline: none;
    font-size: 12px;
}
#search-icon{
    width: 20.01px;
    height: 20px;
    margin-top: 6px;
    margin-right: 16px;;
}
#middle{
    width:100%;
    height: 604.25px;
    background-color: white;
    margin-top: 8px;
}
#tabs{
    height: 42px;
    width: 100%;
    display: flex;
}
#list1{
    width: 180px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #DF3856; 
}
#list1 a{
    font-size: 16px;
    color: #DF3856;
    text-decoration: none;
}
#list2{
    width: 180px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #DFDFDF;
}
#list2 a{
    font-size: 16px;
    text-decoration: none;
    color: #535353;
}
.txt{
    height: 120px;
    width: 100%;
}
.shoping{
    height: 138px;
    width: 100%;
    border-bottom: 1px solid #EEEEEE;
}
.shoping1{
    height: 138px;
    width: 100%;
    margin-top: 16px;
    border-bottom: 1px solid #EEEEEE;
}
.shoping2{
    height: 138px;
    width: 100%;
}
.p1{
    width: 40px;
    height: 22px;
    font-size: 14px;
    display: flex;
    margin-top: 16px;
    margin-right: 16px;
}
.p2{
    width: 180px;
    height: 22px;
    display: flex;
    margin-top: 15px;
    margin-right: 4px;
}
.txt-top{
    width: 100%;
    height: 40%;
    display: flex;
}
.txt-bottom{
    width: 100%;
    height: 60%;
    display: flex;
}
.img1{
    width: 40px;
    height: 40px;
    margin-top: 16px;
    margin-right: 16px;
}
.user{
    width: 54px;
    height: 19px;
    margin-top: 16px;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user a{
    font-size: 12px;
    color: #3E3E3E;
}
.gps-logo{
    width: 10.67px;
    height: 13.32px;
    margin-top: 38px;
    display: inline-flex;
    margin-right: -54px;
}
.user-city{
    width: 56.63px;
    height: 19px;
    margin-top: 35px;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-city a{
    font-size: 10px;
    color: #3E3E3E;
}
.jambon-img{
    width: 82px;
    height: 82px;
    margin-right: 16px;
}
.jambon-title{
    width: 110px;
    height: 19px;
    margin-right: 16px;
    display: flex;
    
}
.jambon-title a{
    font-size: 12px;
    
}
.price-number{
    height: 19px;
    width: 81px;
    margin-top: 64px;
    margin-right: 16px;
}
.price-number a{
    font-size: 12px;
}
.toman{
    width: 16px;
    height: 14.31px;
    margin-top: 68px;
    margin-right: 4px;
}
.shoping-top{
    height: 82px;
    width: 100%;
    display: flex;  
}
.shoping-bottom{
    height: 55px;
    width: 100%;
    display: flex;
}
.minus-btn{
    height: 24px;
    width: 24px;
    border: none;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    margin-right: 16px;
    outline: none;
}
.count{
    height: 16px;
    width: 16px;
    border: 1px solid #EEEEEE;
    background-color: white;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
    margin-right: 4px;
    outline: none;
    text-align: center;
}
.plus-btn{
    height: 24px;
    width: 24px;
    border: none;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    margin-right: 4px;
    outline: none;
}
.remove-btn{
    height: 24px;
    width: 24px;
    border: none;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    margin-right: 16px;
    outline: none;
}
.txt-2{
    width: 110px;
    height: 16px;
    border-bottom: 1px dashed #7D7D7D;
    margin-top: 16px;
    margin-right: 99px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.txt-2 a{
    font-size: 10px;
    color: #7D7D7D;
}
.top-shoping2{
    height: 42px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.suprize{
    width: 328.5px;
    height: 28px;
    background: #DFF5F1;
    border-radius: 2px;
}
.suprize a{
    color: #00786C;
    font-size: 12px;
    margin-right: 8px;
}
.bottom-shoping2{
    height: 102px;
    width: 100%;
    display: flex;  
}
.bottom-right{
    width: 188px;
    height: 100%;
}
.continue-shop{
    height: 32px;
    width: 172px;
    background: #DF3856;
    border-radius: 100px;
    margin-top: 64px;
    margin-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.continue-shop a{
    color: #FAFAFA;
    font-size: 12px;
}
.bottom-left{
    width: 172px;
    height: 100%;
}
.code{
    height: 24px;
    width: 125px;
    background: #EEEEEE;
    border-radius: 100px;
    margin-top: 16px;
    margin-right: 32px;
    display: flex;
}
.code-icon{
    margin-top: 6px;
    margin-right: 8px;
}
.code a{
    font-size: 10px;
    margin-top: 4px;
    margin-right: 2px;
}
.kala2{
    font-size: 12px;
    color: #535353;
    margin-right: 55px;
}
.toman2{
    width: 55px;
    height: 19px;
    display: flex;
    justify-content: space-between;
    margin-right: 98px;
}
.toman2 a{
    font-size: 12px;
    color: #535353;
}
#footer{
    height: 260px;
    width: 100%;
    margin-top: 6px;
}
.user2{
    width: 64px;
    height: 19px;
    margin-top: 16px;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user2 a{
    font-size: 11px;
    color: #3E3E3E;
}
.user-city2{
    width: 56.63px;
    height: 19px;
    margin-top: 35px;
    margin-right: 8px;
    display: flex;
}
.user-city2 a{
    font-size: 10px;
    color: #3E3E3E;
}
.bottom-shoping22{
    height: 60px;
    width: 100%;
    display: flex;
}
.continue-shop2{
    height: 32px;
    width: 172px;
    background: #DF3856;
    border-radius: 100px;
    margin-top: 8px;
    margin-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.continue-shop2 a{
    color: #FAFAFA;
    font-size: 12px;
}
#footer-1{
    height: 70px;
    width: 100%;
    margin-top: 128px;
    display: flex;
}
#footer-1-right{
    width: 196px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#continue{
    width: 180px;
    height: 48px;
    background: #DF3856;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#continue a{
    color: #FAFAFA;
    font-size: 16px;
}
#footer-1-left{
    width: 164px;
    height: 100%;
}
#af{
height: 19px;
width: 120px;
margin-top: 16px;
display: flex;
justify-content: center;
align-items: center;
margin-right: 16px;
}
#af a{
    font-size: 12px;
    color: #535353;
}
.toman-f{
    width: 55px;
    height: 19px;
    display: flex;
    justify-content: space-between;
    margin-right: 82px;
}
.toman-f a{
    font-size: 12px;
}
